body {
  background-color: hsl(0, 0%, 5%);
  overflow: hidden;
}

p {
  color: #fff;
}

span {
  text-decoration: line-through;
  text-decoration-color: #800000;
}

.no, .smoke {
  font-family: "Amatic SC", cursive;
}

.bold {
  font-family: Cinzel, serif;
  color: #800000;
}

.contain {
  height: 100vh;
}

.smoke {
  color: #696969;
}

.smoke:hover {
  animation: animate 1500ms linear forwards;
}

@keyframes animate {

  0% {
    transform: rotate(0) translateY(0);
    opacity: 1;
    filter: blur(1px);
  }

  90% {

    opacity: 1;
    filter: blur(20px);
  }

  100% {
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
  }

}

.smoke p:nth-child(1) {
  animation-delay: 0s;
}

.smoke p:nth-child(2) {
  animation-delay: 15s;
}

.sword {
  animation: 5s cubic-bezier(0, 1.38, .83, .67) infinite;

  transition: transform 1s;
  display: inline-block;
  margin: 2rem;

  transform-origin: 50% 77%;

  transform-origin: center;
  transform: rotate(45deg);
}

.swords {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 5em;
  transform: translateY(-50%);
  text-align: center;
}

.blade {
  background-color: hsl(0, 0%, 81%);
}

.knob {

  border-radius: 50%;
}

.blade, .grip, .knob {
  margin: auto;
}

.guard, .grip {
  background-color: hsl(53, 19%, 22%);
}

.knight {
  width: 5rem;
}

.knight .blade {
  height: 20rem;
  width: 1rem;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  box-shadow: -.5rem 0 0 0 hsla(0, 0%, 43%, .5) inset;
}

.knight .guard, .knight .grip {
  background-color: hsl(53, 7%, 41%);
}

.knight .guard {
  height: .45rem;
  width: 100%;
  border-radius: 33%;
}

.knight .grip {
  height: 4rem;
  width: .7rem;
  border-radius: 150%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.knight .knob {
  position: relative;
  top: -.5rem;
  height: 1rem;
  width: 1rem;
  background-color: hsl(0, 0%, 80%);
}

.sword2 {
  transform-origin: center;
  transform: rotate(-45deg);
}
